.linklist {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.linklist li {
    list-style: none;
    padding-right: 10px;
    font-size: 30px;
}

.linkactive {
    text-decoration: none;
}

.linkactive:focus {
    text-decoration: underline;
}